Repository GoelandProver/Goeland, pull requests merged in 2025-07, with the labels that each got.

#30 Fix of multiple bugs in the TPTP output and add basic edge cases tests
  .gitignore
  USAGE.md
  devtools/run-test-suite.py
  devtools/test-suite/basic/TEST.p
  devtools/test-suite/basic/TEST10.p
  devtools/test-suite/basic/TEST11.p
  devtools/test-suite/basic/TEST12.p
  devtools/test-suite/basic/TEST13.p
  devtools/test-suite/basic/TEST14.p
  devtools/test-suite/basic/TEST15.p
  devtools/test-suite/basic/TEST18.p
  devtools/test-suite/basic/TEST19.p
  devtools/test-suite/basic/TEST2.p
  devtools/test-suite/basic/TEST20.p
  devtools/test-suite/basic/TEST21.p
  devtools/test-suite/basic/TEST22.p
  devtools/test-suite/basic/TEST23.p
  devtools/test-suite/basic/TEST24.p
  devtools/test-suite/basic/TEST25.p
  devtools/test-suite/basic/TEST26.p
  devtools/test-suite/basic/TEST27.p
  devtools/test-suite/basic/TEST28.p
  devtools/test-suite/basic/TEST4.p
  devtools/test-suite/basic/TEST5.p
  devtools/test-suite/basic/TEST6.p
  devtools/test-suite/basic/TEST7.p
  devtools/test-suite/basic/TEST8.p
  devtools/test-suite/basic/TEST9.p
  devtools/test-suite/basic/TEST_EQ.p
  devtools/test-suite/basic/TEST_EQ2.p
  devtools/test-suite/basic/TEST_SET.p
  devtools/test-suite/basic/cpp.p
  devtools/test-suite/basic/desko.p
  devtools/test-suite/basic/example.p
  devtools/test-suite/basic/example2.p
  devtools/test-suite/basic/mej.p
  devtools/test-suite/basic/mej2.p
  devtools/test-suite/basic/sankalp.p
  devtools/test-suite/basic/simple.p
  devtools/test-suite/bugs/bug_27-1.p
  devtools/test-suite/bugs/bug_27-2.p
  devtools/test-suite/bugs/bug_27-3.p
  devtools/test-suite/proofs/example_sctptp.out
  devtools/test-suite/proofs/example_sctptp.p
  devtools/test-suite/proofs/example_tptp.out
  devtools/test-suite/proofs/example_tptp.p
  src/AST/formula.go
  src/AST/mapped_strings.go
  src/Glob/helper.go
  src/Glob/log.go
  src/Makefile
  src/Mods/assisted/rules.go
  src/Mods/dmt/dmt.go
  src/Mods/tptp/output.go
  src/Mods/tptp/proof.go
  src/Search/destructive.go
  src/Search/print_proof.go
  src/Search/search.go
  src/main.go
  src/options.go
Labels: part:plugins, kind:fix

#34 Fix commit number for static-linux-release compilation
  src/Makefile
Labels: kind:bug, part:infrastructure

#44 Add bug report template and PR template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind:enhancement, part:infrastructure

#45 Post-release notice in README.md to warn about using this version
  README.md
Labels: part:infrastructure, kind:documentation

#47 Devtools: add argument to extract.py to filter w.r.t. rating
  devtools/extract.py
Labels: kind:enhancement, part:infrastructure

#55 Fix test-suite script to avoid returning if exit code isn't specified
  devtools/run-test-suite.py
Labels: part:infrastructure, kind:fix

#54 Add backticks in the placeholder of the bug report issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: kind:enhancement, part:infrastructure
